.productCard {
float: right;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 30px 30px 30px 30px;
    border-style: double;
    border: 0;
    border-right: 3px solid rgb(145, 0, 0);
}
.icon{
    padding-bottom: 15px;
}
.example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3004/3004163.png');
    background-size: cover;
}
.buyButton{
    background-color: rgb(145, 0, 0);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border-radius: 40px;
    border: 3px solid rgb(145, 0, 0);
}
.product:hover{
    transform: scale(1.05, 1.05);
    transition: 1s;
    transition-timing-function: cubic-bezier(.53,-0.04,0,1.03);
}
