<div class="divWidth">
  <mat-card class="productCard">
    <!--<mat-card-header class="icon">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pokermon</mat-card-title>
      <mat-card-subtitle>Games/Boardgames</mat-card-subtitle>
    </mat-card-header>-->
    <a id="link" href="https://github.com/Desonrados/PokerMon">
    <img mat-card-image class="product" src="https://ingavinhos.vtexassets.com/arquivos/ids/160539/Vinho-Quinta-do-Morgado-Bordo-Tinto-Seco-1-L.png?v=637879680788600000" alt="productImage">
    </a>
    <mat-card-content>
      <p *ngFor="let productName of productNames">{{productName}}</p>
      <!--<p id="productName">
            {{productName}}
      </p>-->
      <p>
        {{productBrand}}
      </p>
      <p>
        {{productWeight}}
      </p>
      <h3 id="productValue">
        {{productValue}}
      </h3>
    </mat-card-content>
    <mat-card-actions>
      <button class="buyButton"mat-button (click)="addCart()">CARRINHO</button>
    </mat-card-actions>
  </mat-card>
</div>
