<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
 <div class="conteiner">
    <div class="conteinerSearch">
    <div class="logo">
            <a id="logo"href="www.google.com">AMARK</a>
    </div>
        <label class="searchPart" id="pesquisar">Pesquisar<input class="searchPart" id="searchEng" type="search"></label>
        <div class="searchPart">
            <span class="logo material-symbols-outlined">
                person
                </span>
        </div>
    </div>    
</div>