<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>AmarK</span>
    <span class="example-spacer"></span>
    <input class="searchPart" id="searchEng" type="search">
    <form class="example-form">
        <!--
          Teoricamente era pra ser um form field
          <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>-->
      </form>      
    <span class="searchIcon material-symbols-outlined">
        search
    </span>
    <span class="logo material-symbols-outlined">
        shopping_cart
        </span>
    <span class="logo material-symbols-outlined">
        person
    </span>
    <button>
    </button>
  </mat-toolbar>
  