
.teste{
    display: flex;
    justify-content: end;
    align-items: center;
}
.conteiner{
    background-color: rgb(11, 96, 0);
    color: white;   
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-left: 15px;    
}
#searchEng{
    width: 40vw;
    height: 2vw;
}
#pesquisar{
    font-size: 1.2em;
}
.searchPart{
    float: right;
    align-items: center;
    display: inline;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 10px;
}
.conteinerSearch{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav{
    width: 100%;
}
.logo{
    transform: scale(1.5);
    margin-bottom: 15px;
    margin-right: 2vw;
    margin-right: 25px;
}
.searchIcon{
    margin-right: 5vw;
    transform: scale(1.5);
    margin-bottom: 15px;
}
.example-spacer {
    flex: 1 1 auto;
  }